@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Here is the INDEX PAGE (Login controller). <br/>
    
    ID :  <p>@ViewBag.Message</p>
</div>